body {
    margin:0
  }

/* Excercise -----------------------------------------------------------*/

  .square {
    width: 100px;
    height: 100px;
    background: #7a0e32;
  }

  .circle {
    width: 100px;
    height: 100px;
    background: #2a1296;
    border-radius: 50%
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #c4a419;
  }

  .star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #02746e;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #02746e;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  .star:before {
    border-bottom: 80px solid #02746e;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star:after {
    position: absolute;
    display: block;
    color: #02746e;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #02746e;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

/* -----------------------------------------------------------*/

#header-container {
  padding: 15px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #000000;
  height: 50px;
}

#headline {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }

#world {
    position: relative;
    top: 40px;
    font-weight:200;
    font-size: 8vw;
}  

.headline-specs {
    text-transform: uppercase;
    font-family: "HelveticaNeue", Helvetica;
    font-weight:800;
    font-size: 10vw;
    letter-spacing: 5px;
  }

.up {
    margin-bottom: -50px;
    width: 100%;
}

.down {
    margin-top: -50px;
    margin-bottom: 50px;
    width: 100%;
}

.fact {
    padding: 50px;
    padding-top: 0px;
}  

.content-container {
    display: flex;
    flex-direction: column;
  }

.flex-element-center {
    align-self: center;
} 

.subline-specs {
    font-family: Helvetica;
    color: #ffffff;
    font-weight:bold;
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 2.1em;
}

.text-specs {
    font-family: Helvetica;
    color: #ffffff;
    font-size: 28px;
    line-height: 1.4em;
    letter-spacing: 0.04em;
}

.more {
    position: relative;
    left: 5px;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}

.more:hover {
  display: "▶";
}

.more:hover::before {
  content: "▶";
}

#fact-1 {
    background-color: #91C823;
}

#img-1 {
    width: 40vw;
}

#fact-2 {
    background-color: #C89BAA;
}

#img-2 {
    margin-top: -100px;
    width: 300px;
}


@media (max-width: 600px) {
    .header-specs {
        font-size: 50px;
        } 
    
    .subline-specs {
        font-size: 36px;
    }

    .text-specs {
        font-size: 22px;
    }

}