#headline {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }

.header-specs {
    text-transform: uppercase;
    font-family: "HelveticaNeue", Helvetica;
    font-weight:bold;
    font-size: 10vw;
    letter-spacing: 5px;
  }



.up {
    margin-bottom: -5px;
    width: 100%;
}

.fact {
    margin-bottom: 50px;
    padding: 50px;
}  

.flex-container {
    display: flex;
    flex-direction: column;
  }

.flex-element-center {
    align-self: center;
}  

.text-specs {
    margin-top: 50px;
    font-family: Helvetica;
    font-size: xx-large;
    line-height: 1.4em;
}

#fact-1 {
    background-color: #84D3DB;
}

#img-1 {
    margin-top: -100px;
    width: 300px;
}

#fact-2 {
    background-color: crimson;
}

#img-2 {
    margin-top: -100px;
    width: 300px;
}


@media (max-width: 600px) {
    .header-specs {
        font-size: 50px;
        } 
    
    
    .text-specs {
        font-size: 26px;
    }
}